.wrap-semana {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.day {
    width: 100%;
    height: 180px;
    box-shadow: 0 0 3px black;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 10px;
}